body {
  display:flex; flex-direction:column;
}

.horizontally-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.centered {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Set the height of the container */
}

.left-and-vertically-centered {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  height: 100vh; /* Set the height of the container */
}

.question-textarea {
  min-height: 70px; /* Set the minimum height */
  min-width: 700px; /* Set the minimum width */
}

.essay-textarea {
  min-height: 100px; /* Set the minimum height */
  min-width: 700px; /* Set the minimum width */
}

.review-textarea {
  min-height: 90px; /* Set the minimum height */
  min-width: 700px; /* Set the minimum width */
  margin-bottom: 10px;
  margin-top: 10px;
}